* {
    margin: 0px;
    padding: 0;
    text-decoration: none;
    font-family: 'Ibarra Real Nova';

}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 8vh;

}

.toggle {
    display: none;

}


nav {
    margin-top: 20px;
    width: 80%;
    height: 8%;
    margin-left: 10%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgb(179, 179, 187);


}

nav h1 {
    padding-top: 5px;

    color: 121212;
    font-size: 32px;
    font-weight: 600;
}

nav ul li {
    padding: 10px;
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(85, 76, 76);
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    justify-content: space-around;
}

nav .icon {
    display: flex;
    flex-direction: row;
    width: 118px;
    height: 32px;
    padding: 2px;
}

nav .icon img {
    height: 20px;
    width: 20px;
    margin: 3px;
}

.dropdown {
    width: 200px;
}


.dropdown button {
    width: 100%;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: left;
}



#home {
    width: 100%;
    height: 100vh;
    background: url("images/Screenshot\ 2023-07-24\ 010528.png") top center;
    background-size: cover;
    background-repeat: no-repeat;




}

section {

    padding: 15% 0;
    overflow: hidden;
}
section .container h1 {

    font-size: 64px;
    margin-bottom: 30px;
    margin-left: 20%;
    font-weight: 700;


}

section .container p {
    width: 70%;
    font-size: 18px;
    color: rgb(82, 82, 82);
    margin-left: 20%;
}


.container {


    width: 50%;
    height: 40%;
    margin: 0px;


}


.img {
    display: flex;
    flex-direction: row;

}

#img2 {
    margin-right: 100px;
    padding-right: 20%;
}


section img {}

.btn {
    display: flex;
    flex-direction: row;


    justify-content: center;
}

.btn button {

    border: none;
    border-radius: 25px;

    margin: 10px;
    color: white;
    font-family: ' Hind Madurai';
    padding: 10px 30px 10px 30px;

}

#btn-shop {
    background: linear-gradient(#315316, #72A748);
}


#btn-learn {
    border: 1px solid #315316;
    background-color: white;
    color: black;
    font-family: ' Hind Madurai';
}

.info {

    margin-top: 6%;
    margin: auto;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 8%;
}

.row1 {
    display: flex;
    flex-direction: row;
}

.col div {
    width: 70%;
    height: 40%;
    margin: 25px;
    padding: 20px;

}

.info .row1 .col h1 {
    color: #315316;
    font-family: 'font3';
    font-size: 45px;
}


.info .row1 .col h2 {

    font-size: 24px;
    font-weight: 700;
}


.info p {
    color: #3E3E3E;
    font-size: 18px;
}

.row2 {
    width: 70%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
}

.row2 h1 {
    color: #3E3E3E;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Ibarra Real Nova';
}


.BeautyCare {

    margin-top: 4%;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#Beauty {
    font-family: 'font1';
    color: rgb(9, 95, 36);
    font-size: 25px;
}


.video video {
    width: 65%;
    height: 60%;
    border-radius: 7px;
    box-shadow: 2px 2px #ccc;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;


}

.BeautyCosmeticsProducts {
    font-size: 48px;
   margin-bottom: 6%;
    display: flex;
    justify-content: center;

    color: black;
    font-weight: bold;

}

.product {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;

}

.product .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.product .row div {

    width: 20%;
    height: 40%;
    background-color: rgb(254, 255, 255);
    margin: 10px;
    box-shadow: 2px 2px 2px 2px rgb(179, 179, 187);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 1px 1px 1px 1px rgb(179, 179, 187);
    border-radius: 8px;

}

.product .row .img-product {
    width: 90%;
    height: 40%;
    background: linear-gradient(#FDFDFD, #E7E7E7);
    display: flex;
    justify-content: center;
    border: 1px solid #EEEEEE;
    margin-top: -20%;
    border-radius: 8px;
}

.product .row div img {
    height: 120px;
    width: 120px;
}

.product .row span {
    color: rgb(9, 95, 36);
    font-size: 20px;
}

.product .row div h1 {
    width: 100%;
    font-size: 22px;
}

.product .row div h6 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.product .row div p {
    font-size: 18px;
    color: #3E3E3E;
}
#btn-show {
    margin-left: 30px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    background: linear-gradient(#315316, #72A748);
    font-size: 15px;
    color: white;
    padding: 5px 13px 5px 13px;

}

.fa-star,
.fa-star-half {
    color: #FDB140;
    margin-top: 12px;
}

.product .row h6 p {
    margin-top: 12px;
    font-size: 15px;

}



.icon-btn {
    display: flex;
    flex-direction: row;
}

.discount {

    width: 85%;
    height: 100%;
    background-color: #ece3e3;
    display: flex;
    flex-direction: row;
    margin-left: 7%;
    margin-top: 5%;
    justify-content: center;
    margin-bottom: 15px;
}

.discount div {
    margin-top: 10%;
    width: 60%;
    height: 100%;
    text-align: center;
    display: grid;
    gap: 15px;
}

.discount img {
    width: 25%;
}

.discount div h1 {
    font-size: 48px;
}

.discount div p {
    color: #3E3E3E;
    font-size: 18px;
}

.discount div form input {
    border: none;
    border-radius: 20px;
    padding: 10px 60px 10px 60px;

}

.discount div form button {
    background-color: transparent;
    border: none;
    border-radius: 25px;
    background-color: rgb(9, 95, 36);
    color: white;
    padding: 10px 40px 10px 40px;
    margin-left: -40px;
}


.body-face {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -5%;
}

.body-face div {
    width: 50%;
    height: 50%;
    padding: 7%;
}

.body-face div img {
    width: 100%;
    height: 90%
}




.tittle-body-face {
    font-size: 48px;
    margin: 5%;
    display: flex;
    justify-content: center;
    font-weight: 700px;
    color: black;
    font-weight: bold;

    display: flex;
    justify-content: center;
}

.body-face div .check {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #FDB140;
}

.check div {

    background-color: #ccc;
}

.fa-check-circle {
    color: rgb(9, 95, 36);
    font-size: 12px;
    padding: 10px;
    text-transform: lowercase;
}


#h1-body-face {
    font-size: 35px;
    font-family: Ibarra Real Nova;
}

.body-face div button {
    background-color: transparent;
    border: none;
    border-radius: 25px;
    background-color: rgb(9, 95, 36);
    margin: 10px;
    color: white;
    padding: 10px 30px 10px 30px;

}
.about{
    width: 100%;
    height: 40%;
   display: flex;    
    flex-direction: row;
  
  

}
.productt{
    display: none;
}
.about .center p{
    width: 70%;
   margin-left: 10%;
   display: flex;
   flex-wrap: wrap;
 
}
.about .container{
    padding: 10px;
   margin-top: -40px;

}
.about  .center h1{
    font-size: 20px;
    font-weight: 400;
    color: #121212;
    text-align: center;
}
.about  .center span{
    font-size: 14px;
    font-weight: 400;
    color: #3E3E3E;
    text-align: center;
}
.about .container img{
    background-color: #EDC988;
    border-radius: 50%;
    margin-top: -40px;
    margin-bottom: 4%;
    margin-left: 85%;
}
.about .center{

    width: 80%;
background: linear-gradient(#EDEDED  ,#332c2c00 );


}


.about  .img1{
    height: 350px;
    width: 350px;
    margin-left: 2%;
}
   .about    #img-2-about{
    height: 200px;
    width: 200px;
}












footer {
    margin-top: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

footer .images {
    padding: 2%;
    width: 80%;
  
    height: 10%;
    background-color: #CEDEA2;
    display: flex;
    justify-content: space-around
}


footer .all {
    background-color: #315316;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 6%;
    color: white;

    }
    

    


.all h3 {
    font-size: 30px;
    margin-bottom: 15px;
}


.rectangle {
    width: 100%;
    height: 10%;
    padding: 2%;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #121212;
}




.all .Central .dropdown {
    width: 200px;
}

.all .Central .dropdown button {
    width: 100%;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: left;
}


.swiper {
    width: 100%;

    height: 10%;


}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #CEDEA2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;


}

.swiper-slide img {

    width: 100px;
    height: 45px;



}

@media only screen and (max-width:768px) {
    .toggle {
        display: block;
        margin-top: 10px;
        font-size: 25px;



    }

    .toggle .fa-bars {
        display: block;
        color: #121212;


    }

    .toggle .fa-xmark {
        display: none;
        color: #121212;

    }

    .open .fa-bars {
        display: none;
    }

    .open .fa-xmark {
        display: block;
    }

    .menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        width: 100%;
        height: 90vh;
        background-color:#e7e4e4;
        box-shadow: 2px 2px 2px 2px rgb(179, 179, 187);
        flex-direction: column;

        justify-content: space-around;

        transform: translateX(-100%);


    }

    .open .menu {
        display: flex;
        transform: translateX(0);
    }

    nav {
        margin-top: 15px;
        width: 100%;
        height: 7%;
        margin-left: 0;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: white;
        padding: 5px;
        box-shadow: 2px 2px 2px 2px rgb(179, 179, 187);


    }

    nav h1 {
        padding-top: 10px;
        font-family: 'Ibarra Real Nova';
        color: #121212;
        font-size: 30px;
        font-weight: 600;
    }

    .menu {
        display: none;
    }

    #home {

        width: 100%;
        height: 60%;
        background: url("images/Screenshot\ 2023-07-24\ 010528.png") top center;
        background-size: none;
        background-repeat: no-repeat;




    }
    .productt{
        display: none;
    }
    

    section {

        padding: 15% 0;
        overflow: visible;
    }

    .container {


        margin-top: 50px;
        width: 50%;
        height: 50%;
        margin-left: 10px;


    }


    .img {
        display: flex;
        flex-direction: row;

    }

    #img2 {
        margin-right: 100px;
        padding-right: 20%;
    }

    section .container h1 {
        font-family: 'font3';
        font-size: 40px;
        margin-bottom: 20px;
        margin-left: 20px;


    }

    section .container p {
        font-size: 18px;
        color: rgb(49, 48, 48);
        margin-bottom: 10px;
        margin-left: 20px;

    }

    .btn {
        display: flex;
        flex-direction: row;

        justify-content: center;
        margin-top: 0;

    }

    .btn button {
        background-color: transparent;
        border: none;
        border-radius: 25px;
        background-color: rgb(9, 95, 36);
        margin: 0px;
        font-size: 15px;
        color: white;
        font-family: ' Hind Madurai';
        padding: 15px 20px 15px 20px;

    }

    .btn button:hover {
        background-color: white;
        border: 2px solid rgb(9, 95, 36);
        color: black;
    }

    #btn-learn {
        border: 2px solid rgb(9, 95, 36);
        background-color: white;
        color: black;
        font-family: ' Hind Madurai';
        margin-left: 20px;
    }


    .info {


        margin: auto;
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 140px;

    }


    .col div {
        width: 100%;
        height: 50%;
        margin: 10px;
        padding: 10px;
    }

    .info .row1 .col h1 {

        font-size: 40px;
    }

    .info .row1 .col h2 {
        font-size: 28px;
    }

    .info .row1 .col p {
        font-size: 18px;
    }

    .row2 {
        width: 100%;
        height: 50%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
    }

    .info .row2 h1 {
        margin-top: 25px;
        font-size: 40px;
    }

    .info .row2 p {

        font-size: 20px;
    }


    .BeautyCare {

        margin-top: 4%;
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }


    .video video {
        width: 80%;
        height: 60%;
        margin: auto;
        display: block;



    }

    .BeautyCosmeticsProducts {
        font-size: 30px;
        margin: 6%;
        display: flex;
        margin-bottom: 5%;
        justify-content: center;
        font-family: 'font4';
        color: black;
        font-weight: bold;

    }

    .product {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;



    }

    .product .row {
        display: flex;
        flex-direction: column;

        display: flex;
        justify-content: space-between;
        align-items: center;



    }

    .product .row div {
        width: 70%;
        height: 60%;

        margin-left: auto;

        margin: 8%;
        box-shadow: 4px 4px 4px 4px rgb(179, 179, 187);


    }

    .product .row .img-product {
        width: 80%;
        height: 40%;
        background-color: rgb(231, 229, 226);
        display: flex;
        justify-content: center;
        margin-top: -30%;
        border-radius: 8px;
    }

    .product .row div img {
        height: 120px;
        width: 120px;
    }

    .product .row span {
        color: rgb(9, 95, 36);
        font-size: 25px;
    }

    .product .row div h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .product .row div p {
        font-size: 25px;
        margin-bottom: 40px;

    }


    .productt{
        display: none;
    }
    


}
/*******************************************************************************/
@media  (min-width:320px) and (max-width:480px) {

    
#home {
    width: 100%;
    height: 100vh;
    background:url("images/Screenshot\ 2023-07-31\ 000751.png") top center;
    background-size: cover;
    background-repeat: no-repeat;
}

section {

    padding: 20% 0;
    overflow: hidden;

}
.container {
    width: 100%;
    height: 50%;
}
section .container h1 {
  
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 13%;



}

section .container p {
    width: 70%;
    font-size: 14px;
  font-weight: bold;
    margin-left: 13%;

 
}


.btn button {

    
    
 font-size: 12px;
    margin-left: 0px;
 
    padding: 10px 12px 12px 10px;

}
nav {
  
    width: 100%;
    height: 7%;



}

nav h1 {
    padding-top: 10px;
    font-family: 'Ibarra Real Nova';
    color: #121212;
    font-size: 25px;
    font-weight: 600;
}

.product .row div {
    width: 80%;
    height: 20%;
    margin: 15%;
    padding: 20px;


}


.product .row span {

    font-size: 18px;
}

.product .row div h1 {

    font-size: 20px;
}

.product .row div p {
    font-size: 16px;
    
}
#btn-show {

    border-radius: 20%;
    font-size: 12px;
    padding: 0px 5px 0px 5px;
    margin-top: -5%;

}
.BeautyCosmeticsProducts {
    font-size: 23px;
    margin-top: 15%;
    margin-bottom: 15%;

}

.video video {
    width: 90%;
    margin-left: auto;
    margin: top 30px;;


}

.body-face {
 
    display: flex;
    flex-direction: column;

}

.body-face div {
    width: 100%;
    height: 50%;
    padding: 7%;
}




.tittle-body-face {
    width: 100%;
    font-size: 25px;
    margin-left: 0;





}

.discount {

    width: 100%;
    margin-left: 0%;

}

.discount div h1 {
    font-size: 25px;
    width: 100%;
}

.discount div p {
 width: 100%;
    font-size: 15px;
}
.discount img {
    width: 30%;
}
.discount div {
    display: grid;
    gap: 0px;
    width: 60%;

}
.discount div form input {

    padding: 10px 20px 10px 20px;
}


.about{
    width: 80%;
    margin-top: 30%;
   margin-left: 10%;

  
  

}



.about .center p{
  
   margin-left: 0%;
   width: 100%;
   padding: 15px;

}

.about  .center h1{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}
.about  .center span{
    font-size: 14px;
    font-weight: 400;
    color: #3E3E3E;
    text-align: center;
}
.about .container img{

  
    margin-left: 30%;
}
.about .center{

    width: 100%;


}


.about  .img1{
    height: 0px;
    width: 0px;
    margin-left: 0%;
}
   .about    #img-2-about{

    height: 0px;
    width: 0px;
}
.row2 {
    width: 100%;

}

.row2 h1 {
 
    font-size: 30px;

}
.row2 p{
    font-size: 20px;
}

 footer .all{
    display: flex;
    flex-wrap: wrap;
   column-count: 2; /* عدد الأعمدة */
      column-gap: 20px;
 }
 footer .all  h3{
    font-size: 23px;
 }
 footer .all .Ruco{
    width: 40%;
 }
 footer .all  p{
    font-size: 15px;
    color: #c2bfbf;
    
 }
 .rectangle p{ 

    font-size: 12px;
 }

.productt{
    display: none;
}





}

/********************************************************************/




@media  (min-width:481px) and (max-width:768px) {
    .product{
        display: none;
    }
 .productt{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* عرض divs في عمودين */
    gap: 20px;
 }
 .productt .img-product {
    width: 80%;
    height: 40%;
    background: linear-gradient(#FDFDFD, #E7E7E7);
    display: flex;
    justify-content: center;
    border: 1px solid #EEEEEE;
    margin-top: -20%;
    border-radius: 8px;
}
.productt div{
    background-color: rgb(254, 255, 255);
    width: 100%;
   margin-left: 5%;
   margin-bottom: 18%;
   background-color: rgb(254, 255, 255);

   box-shadow: 2px 2px 2px 2px rgb(179, 179, 187);
  
  
   box-shadow: 1px 1px 1px 1px rgb(179, 179, 187);
   border-radius: 8px;
}
 .productt div p{
    width: 50%;
 }
 .productt div h1{
    font-size: 20px;
 }
 .productt div span{
    color: rgb(9, 95, 36);
    font-size: 18px;
 }
 .productt div h6{
    width: 100%;
    display: flex;
    flex-direction: row;
  
 }
 .BeautyCosmeticsProducts{
    margin-bottom: 15%;
}




 
 footer .all{
    display: flex;
    flex-wrap: wrap;
   column-count: 2; /* عدد الأعمدة */
      column-gap: 20px;
 }
 footer .all  h3{
    font-size: 23px;
 }
 footer .all .Ruco{
    width: 40%;
 }
 footer .all  p{
    font-size: 15px;
    color: #c2bfbf;
    
 }
 .rectangle p{ 

    font-size: 12px;
 }


 .body-face {
 
    display: flex;
    flex-direction: column;

}

.body-face div {
    width: 100%;
    height: 50%;
    padding: 7%;
}




.tittle-body-face {
    width: 100%;
    font-size: 25px;
    margin-left: 0;





}
.discount {

    width: 100%;
    margin-left: 0%;

}

.discount div h1 {
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    margin-left: -35px;
}

.discount div p {
 width: 70%;
    font-size: 16px;
}
.discount img {
    width: 25%;
}
.discount div {

    display: grid;
    gap: 0px;
    width: 50%;

}


.about{
    width: 80%;
    margin-top: 30%;
   margin-left: 10%;

  
  

}



.about .center p{
  
   margin-left: 0%;
   width: 100%;
   padding: 15px;

}

.about  .center h1{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}
.about  .center span{
    font-size: 14px;
    font-weight: 400;
    color: #3E3E3E;
    text-align: center;
}
.about .container img{

  
    margin-left: 30%;
}
.about .center{

    width: 100%;


}


.about  .img1{
    height: 0px;
    width: 0px;
    margin-left: 0%;
}
   .about    #img-2-about{

    height: 0px;
    width: 0px;
}
.container{
    width: 100%;

}
}
/******************************************************************/
@media  (min-width:769px) and (max-width:1200px) {
    section .container h1 {

        font-size: 40px;
        margin-bottom: 30px;
        margin-left: 20%;
        font-weight: 700;
    
    
    }
    
    section .container p {
        width: 70%;
        font-size: 18px;
        color: rgb(82, 82, 82);
        margin-left: 20%;
    }
    
    
    .container {
    
    
        width: 50%;
        height: 40%;
        margin: 0px;
    
    
    }
    .product{
        display: none;
    }
 .productt{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* عرض divs في عمودين */
    gap: 20px;
 }
 .productt .img-product {
    width: 80%;
    height: 40%;
    background: linear-gradient(#FDFDFD, #E7E7E7);
    display: flex;
    justify-content: center;
    border: 1px solid #EEEEEE;
    margin-top: -20%;
    border-radius: 8px;
}
.productt div{
    background-color: rgb(254, 255, 255);
    width: 100%;
   margin-left: 5%;
   margin-bottom: 18%;
   background-color: rgb(254, 255, 255);

   box-shadow: 2px 2px 2px 2px rgb(179, 179, 187);
  
  
   box-shadow: 1px 1px 1px 1px rgb(179, 179, 187);
   border-radius: 8px;
}
 .productt div p{
    width: 50%;
 }
 .productt div h1{
    font-size: 20px;
 }
 .productt div span{
    color: rgb(9, 95, 36);
    font-size: 18px;
 }
 .productt div h6{
    width: 100%;
    display: flex;
    flex-direction: row;
  
 }

.BeautyCosmeticsProducts{
    margin-bottom: 15%;
}


.about{
    width: 100%;
    height: 40%;
   display: flex;    
    flex-direction: row;
  
  

}

.about .center p{
    width: 70%;
   margin-left: 10%;
   display: flex;
   flex-wrap: wrap;
 
}
.about .container{
    padding: 10px;
   margin-top: -40px;

}
.about  .center h1{
    font-size: 20px;
    font-weight: 400;
    color: #121212;
    text-align: center;
}
.about  .center span{
    font-size: 14px;
    font-weight: 400;
    color: #3E3E3E;
    text-align: center;
}
.about .container img{
    background-color: #EDC988;
    border-radius: 50%;
    margin-top: -40px;
    margin-bottom: 4%;
    margin-left: 85%;
}
.about .center{

    width: 100%;
background: linear-gradient(#EDEDED  ,#332c2c00 );


}


.about  .img1{
    height: 200px;
    width: 200px;
    margin-left: 2%;
}
   .about    #img-2-about{
    height: 100px;
    width: 100px;
}














}
@media  (min-width:769px) and (max-width:1190px) {

    .info {


        margin: auto;
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 140px;

    }







}

